<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 >
    {{subject.name}}
    </h1>
<br>

<div style="font-size: medium;">
    Code:
    {{subject.code}}
</div>

<div>
    Department:
    {{subject.department.name}}
</div>
</body>
</html>